<h1>Welcome to Tight Music!</h1>
<p><%=link_to "Check out our Artists", artists_path, class: "btn btn-lg btn-warning" %>
   <%=link_to "Check out our Songs", songs_index_path, class: "btn btn-lg btn-warning" %></p>
